*{
    padding: 0%;
    margin: 0%;
}

:root{
    --corPrimaria: rgb(31, 16, 44) ;
    --corSecundaria: rgb(25, 54, 31) ;
    --branco: rgb(214,214,214) ;
    --corTerciaria: rgb(75, 33, 111);
}

header,footer{
    width: 100%;
    background-color:var(--corPrimaria);
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    color: white;
}

nav{
    display: flex;
    gap: 10px;
}

#logo{
    display: flex;
    gap: 20px;
}

#logo,img{
    width: 30px;
}

#catalogo{
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    background-color: var(--branco);
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.filme{
    width: 200px;
    padding: 5px;
    background-color: var(--corTerciaria);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    text-align: center;
}

.filme img{
    width: 80%;
}

button{
    display: flex;
    padding: 5px;
    border-radius: 4px;
}